{% load static %}
<!doctype html>

<head>
  <title>PDF Fun</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
  <style>
    canvas {
      border: 1px solid;
    }
    .hidden {
      display: none;
    }

  </style>
</head>


<body>
  <section>
    <div class="container">
      <div class="hidden alert alert-danger" id="error-box">An error has occured.</div>

      <div class="row">
        <h1>PDF Fun</h1>
      </div>
      <div class="row">

        <form method="post">
          {% csrf_token %}

          <div class="form-group">
            <label for="name">Name:</label>
            <input name="name" type="text" class="form-control" />
          </div>

          <div class="form-group">
            <label for="address">Address:</label>
            <input name="address" type="text" class="form-control" />
          </div>

          <div class="form-group">

            <p>Cities:</p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="city" type="checkbox" id="inlineCheckbox1" value="sydney">
              <label class="form-check-label" for="inlineCheckbox1">Sydney</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="city" type="checkbox" id="inlineCheckbox2" value="melbourne">
              <label class="form-check-label" for="inlineCheckbox2">Melbourne</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="city" type="checkbox" id="inlineCheckbox3" value="adelaide">
              <label class="form-check-label" for="inlineCheckbox3">Adelaide</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="city" type="checkbox" id="inlineCheckbox4" value="perth">
              <label class="form-check-label" for="inlineCheckbox4">Perth</label>
            </div>
          </div>

          <div class="form-group">
            <p>Programming languages</p>


            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="language" id="inlineRadio1" value="python">
              <label class="form-check-label" for="inlineRadio1">Python</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="language" id="inlineRadio2" value="ruby">
              <label class="form-check-label" for="inlineRadio2">Ruby</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="language" id="inlineRadio3" value="javascript">
              <label class="form-check-label" for="inlineRadio3">JavaScript</label>
            </div>
          </div>

          <div class="form-group">
            <p>Signature:</p>
            <canvas id="canvas" width="490" height="220"></canvas>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>

  </section>
  <script type="text/javascript">
    var canvas = document.querySelector("canvas");

    var signaturePad = new SignaturePad(canvas);
  </script>

  <script>
    const getCsrfToken = () => {
      return document.cookie.split('; ')
        .map(s => s.split('='))
        .filter(x => x[0] == 'csrftoken')[0][1];
    }

    const postForm = data => {
      let errorBox = document.getElementById('error-box');
      if (!errorBox.classList.contains('hidden')) errorBox.classList.add('hidden');
      return fetch('/', {
        method: 'POST',
        body: data,
        credentials: "same-origin",
        headers: {
          'X-CSRFToken': getCsrfToken(),
          'X-Requested-With': XMLHttpRequest
        }
      }).then(response => {
        if (response.ok) {
          response.json().then(data => {
            window.location.href = data.redirect_url;
          });
        } else {
          errorBox.classList.remove('hidden');
        }
      }).catch(err => errorBox.classList.remove('hidden'));
    }

    let form = document.querySelector('form');
    form.addEventListener('submit', event => {
      event.preventDefault();
      let formData = new FormData(event.target);
      let canvas = document.querySelector('canvas');
      canvas.toBlob(blob => {
        formData.append('signature', blob, 'signature.png');
        postForm(formData);
      });
    });
  </script>
</body>

